/*********** FONTS ***********/

@font-face {
    font-family: Roboto_Regular;
    src: url('../fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: Roboto_Condensed;
    src: url('../fonts/RobotoCondensed-Regular.ttf')
}

$font_roboto_regular: Roboto_Regular;
$font_roboto_condensed: Roboto_Condensed;
/*********** COLORS ***********/

$color_orange: #FF581B;
$color_brown: #6A2E2E;
$color_black: #333;
$color_ad_background: #BACBD3;
$color_twitter: #80C1FB;
/*********** MIXINS ***********/

@mixin transition($property,
$duration) {
    -webkit-transition: $property $duration ease-in-out;
    -moz-transition: $property $duration ease-in-out;
    -o-transition: $property $duration ease-in-out;
    transition: $property $duration ease-in-out;
}

/*********** RESET ***********/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
    display: inline-block;
    @include transition(all,
    0.3s);
}

.wrap {
    width: 95%;
    margin: 0 auto;
}

.background-overlay {
    background: rgba($color: #000, $alpha: 0.5);
    height: 100%;
}

img,
video {
    width: 100%;
}

.title {
    font-weight: 800;
    font-size: 1.25em;
}

body {
    background: #f4f4f4;
    font-family: $font_roboto_regular;
    /*********** SIDE-NAV ***********/
    #side-nav{
        background: $color_brown;
        width: 0;
        position: fixed;
        height: 100%;
        z-index: 1;
        overflow-x: hidden;
        @include transition(all, 0.4s);
        img{
            width: 150px;
            text-align: center;
            padding: 10px;
        }
        a{
            color: #f4f4f4;
            display: block;
            padding: 5px 0;
            text-align: center;
            &:hover{
                color: $color_orange;
            }
        }
        hr{
            width: 75%;
            margin: 0 auto;
        }
        #close-nav{
            color: #f4f4f4;
            font-size: 150%;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
        }
    }
    /*********** HEADER ***********/
    header {
        #nav-bar {
            nav {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                #open-nav{
                    display: none;
                }
                .right-nav {
                    a {
                        padding: 5px;
                        border: 2px solid transparent;
                    }
                    #top-nav {
                        border-bottom: 1px solid black;
                        a {
                            color: rgba($color: #000, $alpha: 0.5);
                            &:hover {
                                color: $color_brown;
                            }
                        }
                        .active {
                            color: $color_orange;
                            border-bottom-color: #000;
                        }
                    }
                    #bottom-nav {
                        text-align: right;
                        a {
                            color: rgba($color: #000, $alpha: 0.9);
                            &:hover {
                                color: $color_brown;
                            }
                        }
                    }
                }
            }
            #team-logos {
                display: flex;
                justify-content: space-around;
                img {
                    width: 30px;
                }
            }
        }
        #hero {
            margin: 20px 0;
            display: flex;
            height: 350px;
            box-shadow: 1px 1px 5px rgba($color: #000, $alpha: 0.5);
            overflow: hidden;
            .background-overlay {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            #featured {
                margin: 10px;
                flex: 2;
                color: #f4f4f4;
                p {
                    max-width: 50%;
                    padding: 10px;
                }
                .title {
                    color: rgba($color: #fff, $alpha: 0.6);
                }
                #header {
                    font-size: 150%;
                    font-weight: 800;
                }
            }
            #top-stories {
                flex: 1;
                padding: 10px 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                hr {
                    border-color: rgba($color: #000, $alpha: 0.1);
                }
                .title {
                    color: $color_brown;
                }
                .date {
                    color: rgba($color: #000, $alpha: 0.3);
                    font-size: 90%;
                }
                .story {
                    color: #333;
                    @include transition(all,
                    0.3s);
                    &:hover {
                        color: $color_brown;
                    }
                }
            }
        }
    }
    main {
        display: flex;
        flex-wrap: wrap;
        #main,
        #aside {
            flex: 1;
            padding: 5px;
        }
        #main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            hr {
                width: 75%;
                margin: 5px auto;
                color: rgba($color: $color_brown, $alpha: 0.3);
            }
            #featured-news {
                margin: 10px 0;
                display: flex;
                flex-wrap: wrap;
                .featured-news {
                    flex: 1;
                    height: 150px;
                    margin: 5px;
                    color: #f4f4f4;
                    @include transition(all,
                    0.3s);
                    &:hover {
                        box-shadow: 3px 3px 5px rgba($color: #000, $alpha: 0.3);
                    }
                    .background-overlay {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        p {
                            padding: 5px;
                        }
                    }
                }
            }
            #news-opinion-analysis {
                padding: 20px 0;
                .title {
                    color: $color_brown;
                }
                .row {
                    display: flex;
                    justify-content: space-between;
                    margin: 10px 0;
                    .news-opinion-analysis {
                        margin: 10px 10px 10px 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .race {
                            font-size: 90%;
                            color: rgba($color: #000, $alpha: 0.3);
                        }
                    }
                }
            }
            #news-feature-ad-space,
            #column-feature-ad-space {
                height: 100px;
                background: $color_ad_background;
                padding: 10px;
                color: rgba($color: #fff, $alpha: 0.6);
                font-weight: 800;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #column-feature {
                margin: 20px 0;
                .title {
                    color: $color_brown;
                }
                div {
                    display: flex;
                    img {
                        flex: 1;
                    }
                    span {
                        flex: 2;
                        margin: 0 0 0 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .feature-name,
                        a {
                            font-size: 90%;
                        }
                        .feature-name {
                            color: rgba($color: #000, $alpha: 0.3);
                        }
                        a {
                            color: $color_orange;
                            font-weight: 600;
                            &:hover {
                                color: $color_brown;
                            }
                        }
                        .feature-title {
                            font-weight: 800;
                            color: $color_brown;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            #photo-of-the-week {
                margin: 20px 0;
                .photo-of-the-week {
                    height: 350px;
                    .title,
                    a {
                        color: rgba($color: #fff, $alpha: 0.6);
                    }
                    a {
                        font-size: 90%;
                        &:hover {
                            color: rgba($color: #fff, $alpha: 0.4);
                        }
                    }
                    .photo-of-the-week-heading {
                        font-size: 1.2em;
                        color: #f4f4f4;
                    }
                    .background-overlay {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 10px;
                    }
                }
            }
            #video-gallery {
                background: #333;
                padding: 10px;
                .title {
                    color: #f4f4f4;
                }
                #videos {
                    display: flex;
                    .video {
                        margin: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .video-title {
                            color: $color_orange;
                        }
                        .video-source {
                            color: rgba($color: #fff, $alpha: 0.7);
                            font-size: 90%;
                        }
                    }
                }
            }
        }
        #aside {
            padding: 10px;
            hr {
                width: 75%;
                margin: 5px auto;
                color: rgba($color: $color_brown, $alpha: 0.3);
            }
            #standings {
                display: flex;
                #wc-standings,
                #team-standings {
                    flex: 1;
                    padding: 10px;
                    .title {
                        color: $color_brown;
                    }
                }
                #wc-standings {
                    .wc-standing {
                        display: flex;
                        img,
                        p {
                            flex: 1;
                        }
                        span {
                            flex: 2;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .wc-standing-team {
                                font-size: 90%;
                                color: rgba($color: #000, $alpha: 0.4);
                            }
                        }
                        img {
                            padding: 10px;
                        }
                    }
                }
                #team-standings {
                    .team-standing {
                        display: flex;
                        align-items: center;
                        img,
                        .team-standing-points {
                            flex: 1;
                        }
                        .team-standing-team {
                            flex: 2;
                        }
                        img {
                            padding: 10px;
                        }
                    }
                }
            }
            #standings-ad-space {
                height: 100px;
                background: $color_ad_background;
                padding: 10px;
                color: rgba($color: #fff, $alpha: 0.6);
                font-weight: 800;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #extras {
                display: flex;
                flex-wrap: wrap;
                .extra {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    #grand-prix-ad-space {
                        height: 200px;
                        background: $color_ad_background;
                        padding: 10px;
                        margin: 10px;
                        color: rgba($color: #fff, $alpha: 0.6);
                        font-weight: 800;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    #gp-reports {
                        .title {
                            color: $color_brown;
                        }
                        .gp-report {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            margin: 10px;
                            p {
                                padding: 5px 0;
                            }
                            .gp-report-title {
                                color: $color_brown;
                                font-weight: 800;
                            }
                            .gp-report-date {
                                font-size: 90%;
                                color: rgba($color: #000, $alpha: 0.7);
                            }
                        }
                    }
                    #gp-calendar {
                        .title {
                            color: $color_brown;
                        }
                        .gp-title,
                        .gp-date {
                            color: $color_brown;
                        }
                        .gp-date {
                            text-align: right;
                        }
                        img,
                        p {
                            flex: 1;
                        }
                        img {
                            padding: 10px;
                        }
                        .gp-sublocation {
                            font-size: 90%;
                            flex: 2;
                            color: rgba($color: #000, $alpha: 0.4);
                            text-align: right;
                        }
                        #next-grand-prix,
                        #previous-grand-prix {
                            display: flex;
                            flex-direction: column;
                            padding: 10px;
                            div {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }
                        #next-grand-prix {
                            background: rgba($color: $color_ad_background, $alpha: 0.3);
                            padding: 10px;
                            margin: 10px 0;
                        }
                    }
                    #quote-of-the-day {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 20px;
                        background: $color_brown;
                        p {
                            padding: 5px 0;
                        }
                        .title {
                            color: #f4f4f4;
                        }
                        .quote-content {
                            color: rgba($color: #fff, $alpha: 0.5);
                        }
                        .quote-owner {
                            font-size: 90%;
                            color: $color_ad_background;
                            font-weight: 600;
                        }
                    }
                    #twitter {
                        background: $color_twitter;
                        padding: 10px 20px;
                        .title,
                        .tweet-username,
                        .tweet-owner,
                        .tweet-time,
                        .tweet-retweet {
                            color: $color_brown;
                        }
                        .tweet-owner {
                            font-weight: 800;
                        }
                        .tweet-content,
                        a {
                            color: #f4f4f4;
                        }
                        .tweet {
                            padding: 10px 0;
                            span {
                                display: flex;
                                justify-content: space-between;
                                .tweet-time {
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #gradient-divider{
        background: $color_brown;
        background: linear-gradient(to right, $color_brown , $color_orange, yellow);
        height: 10px;

    }
    footer {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        .title{
            color: $color_brown;
        }
        a {
            display: block;
            color: $color_brown;
            font-size: 90%;
            &:hover{
                color: $color_orange;
            }
        }
        img,
        #footer-series,
        #footer-social {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 20px;
            border-right: 1px solid rgba($color: #000, $alpha: 0.3);
        }
        img{
            border-color: transparent;
        }
        #footer-formula1 {
            padding: 0 30px 0 0;
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-right: 1px solid rgba($color: #000, $alpha: 0.3);
            #formula1-links{
                display: flex;
                justify-content: space-between;
            }
        }
    }

    /*********** MEDIA QUERIES ***********/
    @media screen and (max-width: 768px){
        header{
            #nav-bar{
                nav{
                    .right-nav{
                        display: none;
                    }
                    #open-nav{
                        display: inline-block;
                        font-size: 200%;
                        color: $color_orange;
                        cursor: pointer;
                        &:hover{
                            color: $color_brown;
                        }
                    }
                }
                #team-logos{
                    display: none;
                }
            }
            #hero{
                display: block;
                height: auto;
            }
        }
        main{
            display: block;
            #main{
                #news-opinion-analysis {
                    .row {
                        display: block;
                        
                    }
                }
                #video-gallery {
                    #videos {
                        display: block;
                    }
                }
            }
            #aside{
                #standings{
                    display: block;
                }
            }
        }
        footer {
            display: block;
            text-align: center;
            #footer-series,
        #footer-social, #footer-formula1{
            border-color: transparent;
            padding: 20px 0;
        }
        }
    }
    

}