/*********** FONTS ***********/
@font-face {
  font-family: Roboto_Regular;
  src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: Roboto_Condensed;
  src: url("../fonts/RobotoCondensed-Regular.ttf"); }
/*********** COLORS ***********/
/*********** MIXINS ***********/
/*********** RESET ***********/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5; }

a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.wrap {
  width: 95%;
  margin: 0 auto; }

.background-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%; }

img,
video {
  width: 100%; }

.title {
  font-weight: 800;
  font-size: 1.25em; }

body {
  background: #f4f4f4;
  font-family: Roboto_Regular;
  /*********** SIDE-NAV ***********/
  /*********** HEADER ***********/
  /*********** MEDIA QUERIES ***********/ }
  body #side-nav {
    background: #6A2E2E;
    width: 0;
    position: fixed;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    body #side-nav img {
      width: 150px;
      text-align: center;
      padding: 10px; }
    body #side-nav a {
      color: #f4f4f4;
      display: block;
      padding: 5px 0;
      text-align: center; }
      body #side-nav a:hover {
        color: #FF581B; }
    body #side-nav hr {
      width: 75%;
      margin: 0 auto; }
    body #side-nav #close-nav {
      color: #f4f4f4;
      font-size: 150%;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px; }
  body header #nav-bar nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0; }
    body header #nav-bar nav #open-nav {
      display: none; }
    body header #nav-bar nav .right-nav a {
      padding: 5px;
      border: 2px solid transparent; }
    body header #nav-bar nav .right-nav #top-nav {
      border-bottom: 1px solid black; }
      body header #nav-bar nav .right-nav #top-nav a {
        color: rgba(0, 0, 0, 0.5); }
        body header #nav-bar nav .right-nav #top-nav a:hover {
          color: #6A2E2E; }
      body header #nav-bar nav .right-nav #top-nav .active {
        color: #FF581B;
        border-bottom-color: #000; }
    body header #nav-bar nav .right-nav #bottom-nav {
      text-align: right; }
      body header #nav-bar nav .right-nav #bottom-nav a {
        color: rgba(0, 0, 0, 0.9); }
        body header #nav-bar nav .right-nav #bottom-nav a:hover {
          color: #6A2E2E; }
  body header #nav-bar #team-logos {
    display: flex;
    justify-content: space-around; }
    body header #nav-bar #team-logos img {
      width: 30px; }
  body header #hero {
    margin: 20px 0;
    display: flex;
    height: 350px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden; }
    body header #hero .background-overlay {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    body header #hero #featured {
      margin: 10px;
      flex: 2;
      color: #f4f4f4; }
      body header #hero #featured p {
        max-width: 50%;
        padding: 10px; }
      body header #hero #featured .title {
        color: rgba(255, 255, 255, 0.6); }
      body header #hero #featured #header {
        font-size: 150%;
        font-weight: 800; }
    body header #hero #top-stories {
      flex: 1;
      padding: 10px 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      body header #hero #top-stories hr {
        border-color: rgba(0, 0, 0, 0.1); }
      body header #hero #top-stories .title {
        color: #6A2E2E; }
      body header #hero #top-stories .date {
        color: rgba(0, 0, 0, 0.3);
        font-size: 90%; }
      body header #hero #top-stories .story {
        color: #333;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        body header #hero #top-stories .story:hover {
          color: #6A2E2E; }
  body main {
    display: flex;
    flex-wrap: wrap; }
    body main #main,
    body main #aside {
      flex: 1;
      padding: 5px; }
    body main #main {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      body main #main hr {
        width: 75%;
        margin: 5px auto;
        color: rgba(106, 46, 46, 0.3); }
      body main #main #featured-news {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap; }
        body main #main #featured-news .featured-news {
          flex: 1;
          height: 150px;
          margin: 5px;
          color: #f4f4f4;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          body main #main #featured-news .featured-news:hover {
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); }
          body main #main #featured-news .featured-news .background-overlay {
            display: flex;
            justify-content: center;
            align-items: flex-end; }
            body main #main #featured-news .featured-news .background-overlay p {
              padding: 5px; }
      body main #main #news-opinion-analysis {
        padding: 20px 0; }
        body main #main #news-opinion-analysis .title {
          color: #6A2E2E; }
        body main #main #news-opinion-analysis .row {
          display: flex;
          justify-content: space-between;
          margin: 10px 0; }
          body main #main #news-opinion-analysis .row .news-opinion-analysis {
            margin: 10px 10px 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            body main #main #news-opinion-analysis .row .news-opinion-analysis .race {
              font-size: 90%;
              color: rgba(0, 0, 0, 0.3); }
      body main #main #news-feature-ad-space,
      body main #main #column-feature-ad-space {
        height: 100px;
        background: #BACBD3;
        padding: 10px;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center; }
      body main #main #column-feature {
        margin: 20px 0; }
        body main #main #column-feature .title {
          color: #6A2E2E; }
        body main #main #column-feature div {
          display: flex; }
          body main #main #column-feature div img {
            flex: 1; }
          body main #main #column-feature div span {
            flex: 2;
            margin: 0 0 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            body main #main #column-feature div span .feature-name,
            body main #main #column-feature div span a {
              font-size: 90%; }
            body main #main #column-feature div span .feature-name {
              color: rgba(0, 0, 0, 0.3); }
            body main #main #column-feature div span a {
              color: #FF581B;
              font-weight: 600; }
              body main #main #column-feature div span a:hover {
                color: #6A2E2E; }
            body main #main #column-feature div span .feature-title {
              font-weight: 800;
              color: #6A2E2E;
              font-size: 1.2rem; }
      body main #main #photo-of-the-week {
        margin: 20px 0; }
        body main #main #photo-of-the-week .photo-of-the-week {
          height: 350px; }
          body main #main #photo-of-the-week .photo-of-the-week .title,
          body main #main #photo-of-the-week .photo-of-the-week a {
            color: rgba(255, 255, 255, 0.6); }
          body main #main #photo-of-the-week .photo-of-the-week a {
            font-size: 90%; }
            body main #main #photo-of-the-week .photo-of-the-week a:hover {
              color: rgba(255, 255, 255, 0.4); }
          body main #main #photo-of-the-week .photo-of-the-week .photo-of-the-week-heading {
            font-size: 1.2em;
            color: #f4f4f4; }
          body main #main #photo-of-the-week .photo-of-the-week .background-overlay {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px; }
      body main #main #video-gallery {
        background: #333;
        padding: 10px; }
        body main #main #video-gallery .title {
          color: #f4f4f4; }
        body main #main #video-gallery #videos {
          display: flex; }
          body main #main #video-gallery #videos .video {
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            body main #main #video-gallery #videos .video .video-title {
              color: #FF581B; }
            body main #main #video-gallery #videos .video .video-source {
              color: rgba(255, 255, 255, 0.7);
              font-size: 90%; }
    body main #aside {
      padding: 10px; }
      body main #aside hr {
        width: 75%;
        margin: 5px auto;
        color: rgba(106, 46, 46, 0.3); }
      body main #aside #standings {
        display: flex; }
        body main #aside #standings #wc-standings,
        body main #aside #standings #team-standings {
          flex: 1;
          padding: 10px; }
          body main #aside #standings #wc-standings .title,
          body main #aside #standings #team-standings .title {
            color: #6A2E2E; }
        body main #aside #standings #wc-standings .wc-standing {
          display: flex; }
          body main #aside #standings #wc-standings .wc-standing img,
          body main #aside #standings #wc-standings .wc-standing p {
            flex: 1; }
          body main #aside #standings #wc-standings .wc-standing span {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            body main #aside #standings #wc-standings .wc-standing span .wc-standing-team {
              font-size: 90%;
              color: rgba(0, 0, 0, 0.4); }
          body main #aside #standings #wc-standings .wc-standing img {
            padding: 10px; }
        body main #aside #standings #team-standings .team-standing {
          display: flex;
          align-items: center; }
          body main #aside #standings #team-standings .team-standing img,
          body main #aside #standings #team-standings .team-standing .team-standing-points {
            flex: 1; }
          body main #aside #standings #team-standings .team-standing .team-standing-team {
            flex: 2; }
          body main #aside #standings #team-standings .team-standing img {
            padding: 10px; }
      body main #aside #standings-ad-space {
        height: 100px;
        background: #BACBD3;
        padding: 10px;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center; }
      body main #aside #extras {
        display: flex;
        flex-wrap: wrap; }
        body main #aside #extras .extra {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          body main #aside #extras .extra #grand-prix-ad-space {
            height: 200px;
            background: #BACBD3;
            padding: 10px;
            margin: 10px;
            color: rgba(255, 255, 255, 0.6);
            font-weight: 800;
            display: flex;
            justify-content: center;
            align-items: center; }
          body main #aside #extras .extra #gp-reports .title {
            color: #6A2E2E; }
          body main #aside #extras .extra #gp-reports .gp-report {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 10px; }
            body main #aside #extras .extra #gp-reports .gp-report p {
              padding: 5px 0; }
            body main #aside #extras .extra #gp-reports .gp-report .gp-report-title {
              color: #6A2E2E;
              font-weight: 800; }
            body main #aside #extras .extra #gp-reports .gp-report .gp-report-date {
              font-size: 90%;
              color: rgba(0, 0, 0, 0.7); }
          body main #aside #extras .extra #gp-calendar .title {
            color: #6A2E2E; }
          body main #aside #extras .extra #gp-calendar .gp-title,
          body main #aside #extras .extra #gp-calendar .gp-date {
            color: #6A2E2E; }
          body main #aside #extras .extra #gp-calendar .gp-date {
            text-align: right; }
          body main #aside #extras .extra #gp-calendar img,
          body main #aside #extras .extra #gp-calendar p {
            flex: 1; }
          body main #aside #extras .extra #gp-calendar img {
            padding: 10px; }
          body main #aside #extras .extra #gp-calendar .gp-sublocation {
            font-size: 90%;
            flex: 2;
            color: rgba(0, 0, 0, 0.4);
            text-align: right; }
          body main #aside #extras .extra #gp-calendar #next-grand-prix,
          body main #aside #extras .extra #gp-calendar #previous-grand-prix {
            display: flex;
            flex-direction: column;
            padding: 10px; }
            body main #aside #extras .extra #gp-calendar #next-grand-prix div,
            body main #aside #extras .extra #gp-calendar #previous-grand-prix div {
              display: flex;
              justify-content: space-between;
              align-items: center; }
          body main #aside #extras .extra #gp-calendar #next-grand-prix {
            background: rgba(186, 203, 211, 0.3);
            padding: 10px;
            margin: 10px 0; }
          body main #aside #extras .extra #quote-of-the-day {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            background: #6A2E2E; }
            body main #aside #extras .extra #quote-of-the-day p {
              padding: 5px 0; }
            body main #aside #extras .extra #quote-of-the-day .title {
              color: #f4f4f4; }
            body main #aside #extras .extra #quote-of-the-day .quote-content {
              color: rgba(255, 255, 255, 0.5); }
            body main #aside #extras .extra #quote-of-the-day .quote-owner {
              font-size: 90%;
              color: #BACBD3;
              font-weight: 600; }
          body main #aside #extras .extra #twitter {
            background: #80C1FB;
            padding: 10px 20px; }
            body main #aside #extras .extra #twitter .title,
            body main #aside #extras .extra #twitter .tweet-username,
            body main #aside #extras .extra #twitter .tweet-owner,
            body main #aside #extras .extra #twitter .tweet-time,
            body main #aside #extras .extra #twitter .tweet-retweet {
              color: #6A2E2E; }
            body main #aside #extras .extra #twitter .tweet-owner {
              font-weight: 800; }
            body main #aside #extras .extra #twitter .tweet-content,
            body main #aside #extras .extra #twitter a {
              color: #f4f4f4; }
            body main #aside #extras .extra #twitter .tweet {
              padding: 10px 0; }
              body main #aside #extras .extra #twitter .tweet span {
                display: flex;
                justify-content: space-between; }
                body main #aside #extras .extra #twitter .tweet span .tweet-time {
                  text-align: right; }
  body #gradient-divider {
    background: #6A2E2E;
    background: linear-gradient(to right, #6A2E2E, #FF581B, yellow);
    height: 10px; }
  body footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 0; }
    body footer .title {
      color: #6A2E2E; }
    body footer a {
      display: block;
      color: #6A2E2E;
      font-size: 90%; }
      body footer a:hover {
        color: #FF581B; }
    body footer img,
    body footer #footer-series,
    body footer #footer-social {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 20px;
      border-right: 1px solid rgba(0, 0, 0, 0.3); }
    body footer img {
      border-color: transparent; }
    body footer #footer-formula1 {
      padding: 0 30px 0 0;
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 1px solid rgba(0, 0, 0, 0.3); }
      body footer #footer-formula1 #formula1-links {
        display: flex;
        justify-content: space-between; }
  @media screen and (max-width: 768px) {
    body header #nav-bar nav .right-nav {
      display: none; }
    body header #nav-bar nav #open-nav {
      display: inline-block;
      font-size: 200%;
      color: #FF581B;
      cursor: pointer; }
      body header #nav-bar nav #open-nav:hover {
        color: #6A2E2E; }
    body header #nav-bar #team-logos {
      display: none; }
    body header #hero {
      display: block;
      height: auto; }
    body main {
      display: block; }
      body main #main #news-opinion-analysis .row {
        display: block; }
      body main #main #video-gallery #videos {
        display: block; }
      body main #aside #standings {
        display: block; }
    body footer {
      display: block;
      text-align: center; }
      body footer #footer-series,
      body footer #footer-social, body footer #footer-formula1 {
        border-color: transparent;
        padding: 20px 0; } }

/*# sourceMappingURL=style.css.map */
